extends ../layout.pug

block content
  .container
    if !validation.active
        .alert.alert-warning This validation has ended. Thank you for submitting feedback.
    br
    .row
        .col-xs-9
            p.heading-text #{validation.name}

        .col-xs-3
            span.subtle#version(style="float: right")
            if validation.tap == "Teams"
                span.label.label-primary.tap-label #{validation.tap} TAP
            else if validation.tap == "Windows"
                span.label.label-info.tap-label WCCP
            else
                span.label.label-info.tap-label #{validation.tap} TAP
            

    p#validation-tag(style="display: none") #{validation.tag}
    p.subtle#tap(style="display: none") #{validation.tap}
    p.subtle#validation-id(style="display: none") #{validation._id}

    span#collectWindowsInfo(style="display: none") #{validation.settings.collectWindowsInfo}

    br
    // TODO: Switch these order iwhen out of testing
    if validation.blurb
        .container
            .well.blurb !{validation.blurb}
    //else if validation.announcement
    //    if validation.announcement.description
    //        .container
    //            .well.blurb(style="max-height: 250px; overflow-y: scroll;")
    //                | !{validation.announcement.description}
    //                if validation.announcement.issues
    //                    h5 Known Issues
    //                    | !{validation.announcement.issues}
    //                if validation.announcement.limitations
    //                    h5 Known Limitations
    //                    | !{validation.announcement.limitations}
    //    else
    //        .container
    //            .well.blurb !{validation.blurb}


    - var clients = ['windows', 'mac', 'android', 'ios', 'web', 'linux'];
    - var walkie_clients = [];
    - var walkie_headset_types = [];
    - var arm_devices = [];
    if validation.settings
        if validation.settings.collectDeviceFeedback
            if validation._id == 767324
                - walkie_clients = ['Samsung XCP', 'Android + Wired H', 'Android + Wireless H'];
            if validation._id == 938428
                - walkie_clients = ['Samsung XCP', 'Zebra', 'Other Android Devices'];
                - walkie_headset_types = ['No Headset', 'Wired (Klein)', 'Wireless (Jabra)', 'Other'];
            if validation._id == 1101236
                - arm_devices = ["Surface Pro X", "Samsung Galaxy Book S", "Lenovo Yoga 5G / Flex 5G", "Asus NoVo Go", "HP Envy x2"];


    - var network_scenarios = ["Indoor - Single wi-fi", "Indoor - Roaming", "Indoor to Outdoor (Roaming between Wi-Fi APs and Intermittent to No Internet)", "Indoor to Outdoor (Roaming between Wi-Fi and 4G/LTE)", "Outdoor (Connected to a single cellular tower only)", "Outdoor Roaming (Roaming between cellular towers)", "Outdoor Roaming (Roaming between Cell Towers and intermittent or No Internet)", "Other"];

    if validation.settings
        if validation.settings.collectDeviceFeedback
            .container.devices
                .form-group.row
                    .col-sm-3
                    .col-sm-6
                        .row
                            label.control-label.col-form-label.col-sm-12(for='deviceSelect')
                                span(style="color: red") (*) 
                                | Select the peripheral you are using to validate:
                            select.setUserPrefs#deviceSelect.form-control.col-sm-12(placeholder="Select your device.")
                                option(value="", label="", selected) 
                                if validation.settings.deviceList
                                    each device in validation.settings.deviceList
                                        option(value=device label=device) #{device}
                    .col-sm-3

    if validation.settings.collectWindowsInfo
        .container#windows-build(style="display: none")
            .container
                h4 Your Info
                .well
                    .form-group.row
                        .col-lg-4.col-md-3.col-sm-3
                        .col-lg-4.col-md-6.col-sm-6
                            .row
                                label.control-label.col-form-label.col-md-7(for='windowsBuildType')
                                    span(style="color: red") (*) 
                                    | Windows build type:
                                select.setUserPrefs#windowsBuildType.form-control.col-md-5(placeholder="Please select which type of Windows build you are running.")
                                    option(value="", label="", selected) 
                                    option(value="Pre-Release", label="Pre-Release") Pre-Release
                                    option(value="Release", label="Release") Release
                        .col-lg-4.col-md-3.col-sm-3
                    .form-group.row
                        .col-lg-4.col-md-3.col-sm-3
                        .col-lg-4.col-md-6.col-sm-6
                            .row
                                label.control-label.col-form-label.col-md-7(for='windowsBuildVersion')
                                    span(style="color: red") (*) 
                                    | Windows build version:
                                select.setUserPrefs#windowsBuildVersion.form-control.col-md-5
                                    if windowsBuilds
                                        each build in windowsBuilds
                                            option(value=build, label=build) #{build}
                        .col-lg-4.col-md-3.col-sm-3
   
                br

    //if validation.tap == "Teams"
    //    .container
    //        .container.knownIssues(style="display: none")
    //            h4 Known Issues
    //            p We are aware of these issues, so you don't need to report them again.
    //            table.table.table-striped.table-bordered#knownIssuesTable(style="font-size: 11px;")
    //                thead
    //                    tr
    //                        th(scope="col") Title
    //                tbody
    //            br

    .container
      .container.caseList
            h4 Scenarios

            if validation.groups.length == 0
                - validation.groups = [ "" ]
                each kase in cases
                    - kase.group = "";

            if cases.length > 0
                .progress
                  .progress-bar#scenario-progress-bar(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100', style='width:0%')
                    span.validation-progress
                - var groupCount = 0;
                .panel-group#accordion
                    each group in validation.groups
                        - var safeGroupName = group.replace(/[^\w]/gi, '_');
                        - var groupCases = [];
                        //if Object.keys(validation.customCaseOrder).length > 0 || validation.customCaseOrder.length > 0
                        - var caseCountInCustomCaseOrder = 0;
                        if validation.customCaseOrder
                            each group in Object.keys(validation.customCaseOrder)
                                - caseCountInCustomCaseOrder += validation.customCaseOrder[group].length;
                        if (Object.keys(validation.customCaseOrder).length > 0) && (caseCountInCustomCaseOrder > 0)
                            // TODO: Are some of these actually arrays??
                            - groupCases = validation.customCaseOrder[group];
                        else
                            if validation.groups == [""]
                                - groupCases = cases;
                            else
                                - groupCases = cases.filter(obj => {return obj.group == group}).map(obj => obj._id);
                        - groupCount++;
                        .panel.panel-default.group-panel(id="panel-" + safeGroupName)
                            .panel-heading.group-panel-heading
                                - var groupName = group || "All Scenarios";
                                a.panel-title.toggle-collapse(data-toggle="collapse" data-target="#collapse-" + safeGroupName) #[strong #{groupCount}. #{groupName}] 
                                span.group-progress
                        
                            .panel-collapse.group-collapse.collapse.in(id="collapse-" + safeGroupName)
                                .panel-body.group-panel-body
                                    .panel-group(id="accordion-" + safeGroupname)
                                    - var caseCount = 1;

                                    each kaseId in groupCases
                                      - var kase = cases.find(obj => { return obj._id.toString() === kaseId.toString() });
                                      if kase
                                          if kase.group == group

                                            // New style collapsible case
                                            .panel.panel-default.case-panel(id="panel-" + kase._id)
                                                .panel-heading
                                                    a.toggle-collapse(data-toggle="collapse" data-target="#collapse-" + kase._id, style="color: black")
                                                        p.case-text #{groupCount}-#{caseCount}. #{kase.name}
                                                        - caseCount += 1;
                                                .panel-collapse.case-collapse.collapse.in(id="collapse-" + kase._id)
                                                    .panel-body
                                                        .col-sm-3.hidden-xs.centered
                                                            span.upvotes-header Works
                                                            .upvotes
                                                                table.compact.upvotes-table.votes-table(id="upvotes-" + kase._id)
                                                                    thead(style="display: none")
                                                                        tr
                                                                            td(scope="col") Vote
                                                                    tbody

                                                        .col-sm-6
                                                            if kase.description
                                                                .well.description-well
                                                                    - var editedDescription = kase.description;
                                                                    - editedDescription = editedDescription.replace(/<img/g, "<img class='img-responsive'");
                                                                    p.case-description !{editedDescription}
                                                            else
                                                                br

                                                            .hidden-sm.hidden-md.hidden-lg.hidden-xl.mobile-works-fails(style="text-align: center")
                                                                span.upvotes-header Works (0)  
                                                                | | 
                                                                span.downvotes-header Fails (0) 
                                                                br
                                                                br
                                                            //.row.device-select-group(style="display: none")
                                                            //    input.form-control.device-select.col-md-9(id=kase._id + "-device", type="text", list="deviceList", placeholder="Select or type your device's name.")
                                                            //    br
                                                            .client-checkboxes(style="display: none")
                                                                if validation.active
                                                                    .row
                                                                        each client in clients
                                                                            if client == 'ios'
                                                                                - var clientCaps = "iOS";
                                                                            else
                                                                                - var clientCaps = client.charAt(0).toUpperCase() + client.slice(1);
                                                                            .col-sm-6(class=client + "-group")
                                                                                .btn-group(data-toggle="buttons")
                                                                                    label.col-xs-8(for=kase._id + '-' + client + '-works') #{clientCaps}: 
                                                                                    label.col-xs-2.btn.radio-btn
                                                                                        input(type="radio", name=clientCaps, value='works', id=kase._id + '-' + client + '-works')
                                                                                        span.align-middle.thumbContainer
                                                                                            i.fa.fa-thumbs-up
                                                                                    label.col-xs-2.btn.radio-btn(type="submit", data-toggle="modal", data-target="#report-modal")
                                                                                        input(type="radio", name=clientCaps, value='fails', id=kase._id + '-' + client + '-fails')
                                                                                        span.align-middle.thumbContainer
                                                                                            i.fa.fa-thumbs-down
                                                                    if validation.settings
                                                                        if validation.settings.commentsEnabled
                                                                            button.btn.btn-comment(type='submit', data-toggle="modal", data-target="#comment-modal")
                                                                                i.fa.fa-comment 
                                                                                |   Feedback
                                                            if validation.active
                                                                if kase._id == 956385
                                                                    .network-scenario-checkboxes
                                                                        each ns in network_scenarios
                                                                            .row
                                                                                input.col-xs-1(type="checkbox" value=ns name="network-scenarios")
                                                                                label.safe-label.col-xs-11 #{ns}
                                                                .walkie-checkboxes(style="display: none")
                                                                    .row
                                                                        each client in walkie_clients
                                                                            - var safeClient = client.replace(/[^\w]/gi, '_');
                                                                            .div(class=safeClient + "-group")
                                                                                .btn-group(data-toggle="buttons")
                                                                                    label.col-xs-8.lighter-label(for=kase._id + '-" + safeClient + "-works') #{client}:  
                                                                                    label.col-xs-2.btn.radio-btn
                                                                                        input(type="radio", name=client, value='works', id=kase._id + '-' + safeClient + '-works')
                                                                                        span.align-middle.thumbContainer
                                                                                            i.fa.fa-thumbs-up
                                                                                    label.col-xs-2.btn.radio-btn(type="submit", data-toggle="modal", data-target="#report-modal")
                                                                                        input(type="radio", name=client, value='fails', id=kase._id + '-' + safeClient + '-fails')
                                                                                        span.align-middle.thumbContainer
                                                                                            i.fa.fa-thumbs-down
                                                                    br

                                                                    .row.btn-container
                                                                        if validation.settings
                                                                            if validation.settings.commentsEnabled
                                                                                button.btn.btn-comment
                                                                                    i.fa.fa-comment 
                                                                                    | Feedback
                                                            .no-client-checkboxes.btn-container
                                                                if validation.active
                                                                    button.btn.btn-upvote(type="submit")
                                                                        i.fa.fa-thumbs-up 
                                                                        |   Works
                                                                    if validation.settings
                                                                        if validation.settings.commentsEnabled
                                                                            button.btn.btn-comment(type='submit', data-toggle="modal", data-target="#comment-modal")
                                                                                i.fa.fa-comment 
                                                                                |   Feedback
                                                                    button.btn.btn-downvote(type="submit", data-toggle="modal", data-target="#report-modal")
                                                                        i.fa.fa-thumbs-down 
                                                                        |   Fails
                                                                //else
                                                                //    button.btn.btn-upvote(type="submit" disabled)
                                                                //        i.fa.fa-thumbs-up 
                                                                //        |   Works
                                                                //    if validation.settings
                                                                //        if validation.settings.commentsEnabled
                                                                //            button.btn.btn-comment(type='submit', data-toggle="modal", data-target="#comment-modal")
                                                                //                i.fa.fa-comment 
                                                                //                |   Feedback
                                                                //    button.btn.btn-downvote(type="submit", data-toggle="modal", data-target="#report-modal" disabled)
                                                                //        i.fa.fa-thumbs-down 
                                                                //        |   Fails
                                                            .btn-container
                                                                if validation.tap == "Windows"
                                                                    br
                                                                    button.btn(id="view-feedback-" + kase._id, data-title=kase.name, data-toggle="modal", data-target="#view-feedback-modal")
                                                                        i.fa.fa-comments 
                                                                        |   View All Feedback
                                                        //p.centered.timestamp.subtle #{kase.timestamp.toLocaleDateString()}
                                                        p.subtle.deep-link(style="display: none")
                                                            i.fa.fa-link   Link
                                                        p.subtle(style="display: none") #{kase._id}

                                                        .col-sm-3.hidden-xs.centered
                                                            span.downvotes-header Fails
                                                            .downvotes
                                                                table.compact.downvotes-table.votes-table(id="downvotes-" + kase._id)
                                                                    thead(style="display: none")
                                                                        tr
                                                                            td(scope="col") Vote
                                                                    tbody

            else
                p No scenarios have been added yet. Check back later!        

      hr
      .container.featureRequests(style="display: none")
          h4 Feature Requests
          each freq in featureRequests
            .panel.panel-default.case-panel(id="panel-" + freq._id)
                .panel-heading
                    a.toggle-collapse(data-toggle="collapse" data-target="#collapse-" + freq._id, style="color: black")
                        p.case-text 
                        i.fa.fa-lightbulb  
                        |    #{freq.title}  &nbsp;
                        span(style="font-size: 10px;") (#{freq.publicId})
                .panel-collapse.case-collapse.collapse.in(id="collapse-" + freq._id)
                    .panel-body
                        .col-sm-3.hidden-xs.centered
                            p Score: 
                                span.score(id="feature-request-score-" + freq._id) #{freq.upvotes.length}
                            button.btn.btn-feedback-upvote(type="submit", id="feature-request-btn-" + freq._id)
                                i.fa.fa-thumbs-up   
                                |    Support

                        .col-sm-9
                            if freq.description
                                .well.description-well
                                    p.case-description !{freq.description}
                            else
                                br
          .btn-container
              button.btn(data-toggle="modal", data-target="#feature-request-modal") 
                  i.fa.fa-lightbulb
                  |   Suggest a feature...

      hr
      .container.otherActions(style="display: none")
        h4 Other Actions
        .btn-container
            button.btn(data-toggle="modal", data-target="#feedback-modal")
                i.fa.fa-comments
                |   Share general feedback... 
      br
      br

    // Modal shown when clicking "Fails"
    #report-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            h5.modal-title#modalLabel 
                if validation.tap == "Teams"
                    | Please "Report a Problem"
                else if validation.tap == "ACS"
                    | Please report on GitHub
          .modal-body
            if validation.tap == "Teams"
                | Your feedback has been recorded. Please submit more details through "Report a Problem" on the device you used for the scenario as well.
            else if validation.tap == "ACS"
                | Your feedback has been recorded. Please submit more details on #[a(href="https://github.com/Azure/communication-preview", target="_blank")  GitHub].
          .modal-footer
            button.btn.btn-primary(type='button', data-dismiss="modal") OK
            
    // Modal sohwn when clicking "Comment"
    #comment-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='commentLabel', aria-hidden='true')
      #comment-id(style="display: none") Test
      #comment-caseTitle(style="display: none") Test
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            h5.modal-title#commentLabel Submit feedback for this scenario
          .modal-body
            p Your feedback will be shared with the team.
            p If the scenario has failed, please "Report a Problem" instead.
            br
            textarea.form-control#commentField(rows=3, placeholder="Comment")
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss="modal") Cancel
            button.btn.btn-primary#submitComment(type='button', data-dismiss="modal") Submit

    // Modal sohwn when clicking "Works/Fails/Feedback" on Windows
    #windows-report-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='windowsReportLabel', aria-hidden='true')
      #windows-report-id(style="display: none") Test
      #windows-report-name(style="display: none") Name
      .modal-dialog(role='document' style="width: 90%")
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            h4#windows-report-header.modal-title Report a problem with this scenario
          .modal-body
            .well.description-well
                #windows-report-description
            hr
            form#windows-report-form(enctype="multipart/form-data" method="post")
                .form-group
                    .form-group
                        label(for="windows-report-title-field") Title:  
                            span#windows-report-title-required(style="color: red") (*)
                        input.form-control#windows-report-title-field.windows-report-field(type="text" placeholder="Title your feedback.")
                    .form-group
                        label(for="windows-report-description-field") Description:  
                            span#windows-report-description-required(style="color: red") (*)
                        textarea.form-control#windows-report-description-field.windows-report-field(rows=4, placeholder="Please describe the problem.")
                    .form-group
                        label(for="windws-report-file") File Upload:
                        p You can upload up to 10 files of any type, up to 60MB each.
                        p For files larger than 60 MB, please contact this program's owner to arrange a secure file transfer.
                        input#windows-report-file(type="file" name="userFile" multiple)

                    .form-group
                        input(type="checkbox", name="votesPublic", value=true).setUserPrefs#votesPublicField  
                        label(for='votesPublic') &nbsp; Make my feedback visible to other program participants
                        p(style="font-size: 12px;") If checked, your anonymous comment will be visible to others. Don't provide personally identificable information in your comment if this is checked.
            p(style="font-size: 12px") Bugs and feedback submitted through the Validation Tool (this form) in Teams will make the your email address visible to Microsoft customer support and engineering to enable further investigation when needed.  When you click the "Submit" button, your email address is attached to the work item in Microsoft Azure DevOps (ADO) and may persist even if you leave the engagement or program to which you have opted in.
                
          .modal-footer
            p#windows-report-submit-status
            button.btn.btn-primary#windows-report-submit(title="Submit" name="submit") Submit

    // Modal shown when clicking "View All Feedback"
    #view-feedback-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='viewFeedbackLabel', aria-hidden='true')
      .modal-dialog.modal-lg(role='document', style="width: 90%")
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            h4#feeback-header.modal-title View all feedback: 
                span#caseTitle
            span#caseId(style="display: none")
          .modal-body
            //.alert.alert-success#feedback-success(role="alert", style="display: none") Thanks for your feedback - it will be shared with the team.
            p #[strong Your scenario feedback]
            .modal-scrollable(style="max-height: 35%;")
                table.table.table-striped.compact.feedback-table#your-scenario-feedback-table(style="width: 100%")
                    thead
                        tr
                            th(scope="col" style="width: 10%") #[strong ID]
                            th(scope="col" style="width: 60%") #[strong Title]
                            th(scope="col" style="width: 10%") #[strong State]
                            th(scope="col" style="width: 10%") #[strong Reason]
                            th(scope="col" style="Width: 10%") #[strong Visible?]
                    tbody


            hr
            //p #[strong Others' feedback (visible to program participants)]
            p #[strong Others' feedback]
            .modal-scrollable(style="max-height: 35%;")
                table.table.table-striped.compact.feedback-table#other-scenario-feedback-table(style="width: 100%")
                    thead
                        tr
                            th(scope="col" style="Width: 10%") #[strong ID]
                            th(scope="col" style="Width: 10%") #[strong Vote]
                            th(scope="col" style="Width: 10%") #[strong Comment]
                            th(scope="col" style="width: 70%") #[strong Title]
                            th(scope="col" style="width: 10%") #[strong State]
                            th(scope="col" style="width: 10%") #[strong Reason]
                            th.submitterColumn(scope="col" style="width: 10%; display: none") #[strong Submitter]*
                    tbody
                
          .modal-footer

    // Modal shown when viewing or submitting general feedback
    #feedback-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='feedbackLabel', aria-hidden='true')
      .modal-dialog(role='document' style="width: 90%")
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            h4#feeback-header.modal-title General feedback: #{validation.name}
          .modal-body
            //.alert.alert-success#feedback-success(role="alert", style="display: none") Thanks for your feedback - it will be shared with the team.
            p #[strong Your feedback]
            .modal-scrollable(style="max-height: 20%")
                table.table.table-striped.compact.feedback-table#your-feedback-table(style="width: 100%")
                    thead
                        tr
                            th(scope="col" style="width: 5%") #[strong ID]
                            th(scope="col" style="width: 30%") #[strong Title]
                            th(scope="col" style="width: 40%") #[strong Details]
                            th(scope="col" style="width: 10%") #[strong State]
                            th(scope="col" style="width: 10%") #[strong Reason]
                            th(scope="col" style="Width: 5%") #[strong Visible?]
                    tbody

            // p #[strong Others' feedback (visible to program participants)]
            p #[strong Others' feedback]

            .modal-scrollable(style="max-height: 20%")
                table.table.table-striped.compact.feedback-table#feedback-table(style="width: 100%")
                    thead
                        tr
                            th(scope="col") #[strong ID]
                            th(scope="col") #[strong Vote]
                            th(scope="col") #[strong Comment]
                            th(scope="col") #[strong Title]
                            th(scope="col") #[strong Details]
                            th(scope="col") #[strong State]
                            th(scope="col") #[strong Reason]
                            th.submitterColumn(scope="col" style="display: none") #[strong Submitter]*

                    tbody
            hr
            h4 Share general feedback
            form#feedback-form(enctype="multipart/form-data" method="post")
                    .form-group
                        label(for="feedback-title-field") Title:  
                            span#feedback-title-required(style="color: red") (*)
                        input.form-control#feedback-title-field.feedback-field(type="text" placeholder="Title your feedback.")
                    .form-group
                        label(for="feedback-description-field") Description:  
                            span#feedback-description-required(style="color: red") (*)
                        textarea.form-control#feedback-description-field.feedback-field(rows=4, placeholder="Please provide details.")
                    .form-group
                        label(for="windws-report-file") File Upload:
                        p You can upload up to 10 files of any type, up to 60MB each.
                        p For files larger than 60 MB, please contact this program's owner to arrange a secure file transfer.
                        input#feedback-file(type="file" name="userFile" multiple)
            .form-group.form-check
                input.form-check-input(type="checkbox", name="feedbackPublic").setUserPrefs#feedbackPublicField  
                label(for='feedbackPublic') &nbsp; Make my feedback visible to other program participants
                p(style="font-size: 12px;") If checked, your anonymous comment will be visible to others. Don't provide personally identificable information in your comment if this is checked.

            p(style="font-size: 12px") Bugs and feedback submitted through the Validation Tool (this form) in Teams will make the your email address visible to Microsoft customer support and engineering to enable further investigation when needed.  When you click the "Submit" button, your email address is attached to the work item in Microsoft Azure DevOps (ADO) and may persist even if you leave the engagement or program to which you have opted in.
                
          .modal-footer
              p#feedback-submit-status
              button.btn.btn-primary#submitFeedback(type='button', style="float: right", disabled) Submit

    // Modal shown when submitting a new feature request
    #feature-request-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='featureRequestLabel', aria-hidden='true')
      .modal-dialog(role='document' style="width: 90%")
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            h4#feeback-header.modal-title Suggest a feature for: #{validation.name}
          .modal-body
            //.alert.alert-success#featureRequest-success(role="alert", style="display: none") Thanks for your featureRequest - it will be shared with the team.
            .modal-scrollable(style="max-height: 45%; overflow-y: scroll; overflow-x: hidden;")
                p #[strong Your feature requests]
                table.table.table-striped.compact.feature-request-table#your-featureRequest-table(style="width: 100%")
                    thead
                        tr
                            th(scope="col" style="width: 10%") #[strong ID]
                            th(scope="col" style="width: 25%") #[strong Title]
                            th(scope="col" style="width: 50%") #[strong Description]
                            th(scope="col" style="width: 5%") #[strong State]
                            th(scope="col" style="width: 5%") #[strong Reason]

                            th(scope="col" style="Width: 5%") #[strong Visible?]
                    tbody
            h4 Suggest a feature
            .form-group
                label(for="featureRequestTitleField") Title 
                    span#feature-request-title-required(style="color: red") (*)
                textarea.form-control#featureRequestTitleField(rows=1, placeholder="Feature title")
            .form-group
                label(for="featureRequestDescriptionField") Description 
                    span#feature-requestt-title-required(style="color: red") (*)
                textarea.form-control#featureRequestDescriptionField(rows=3, placeholder="Please describe your feature.")
            .form-group.form-check
                input.form-check-input(type="checkbox", name="featureRequestsPublic").setUserPrefs#featureRequestsPublicField  
                label(for='featureRequestPublic') &nbsp; Make my feature request visible to other program participants
                p(style="font-size: 12px;") If checked, your anonymous feature request will be visible to others. Don't provide personally identificable information in your comment if this is checked.

            p(style="font-size: 12px") Bugs and feedback submitted through the Validation Tool (this form) in Teams will make your email address visible to Microsoft customer support and engineering to enable further investigation when needed.  When you click the "Submit" button, your email address is attached to the work item in Microsoft Azure DevOps (ADO) and may persist even if you leave the engagement or program to which you have opted in.
                
          .modal-footer
              button.btn.btn-primary#submitFeatureRequest(type='button', style="float: right", disabled) Submit

    // Modal shown when editing a Works/Fails/Feedback entry
    #edit-report-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='windowsReportLabel', aria-hidden='true')
      #edit-report-id(style="display: none") Test
      #edit-report-name(style="display: none") Name
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            h4#edit-report-header.modal-title Modify your feedback
          .modal-body
            form#edit-report-form(enctype="multipart/form-data" method="post")
                .form-group
                    .form-group
                        label(for="edit-report-title-field") Title:  
                            span#edit-report-title-required(style="color: red") (*)
                        input.form-control#edit-report-title-field.edit-report-field(type="text" placeholder="Title your feedback.")
                    .form-group
                        label(for="edit-report-description-field") Description:  
                            span#edit-report-description-required(style="color: red") (*)
                        textarea.form-control#edit-report-description-field.edit-report-field(rows=4, placeholder="Please describe the problem.")
                    .form-group#edit-report-attachment-group
                        label(for="windws-report-file") File Upload:
                        p You can upload up to 10 files of any type, up to 60MB each.
                        p For files larger than 60 MB, please contact this program's owner to arrange a secure file transfer.
                        input#edit-report-file(type="file" name="userFile" multiple)
                        
                    .form-group
                        input(type="checkbox", name="votesPublic", value=true)#edit-feedback-public
                        label(for='votesPublic') &nbsp; Make my feedback visible to other program participants
                        p(style="font-size: 12px;") If checked, your anonymous comment will be visible to others. Don't provide personally identificable information in your comment if this is checked.
                
          .modal-footer
            p#edit-report-submit-status
            button.btn.btn-primary#edit-report-submit(type='submit', title="Save changes" name="submit") Save changes

    // Modal shown when submitting a comment on scenario feedback
    #feedback-comment-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='feedback-commentlabel', aria-hidden='true')
      #feedback-comment-id(style="display: none") Test
      #feedback-comment-name(style="display: none") Name
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            h4#feedback-coment-header.modal-title Comment on this feedback: 
          .modal-body
            form#feedback-comment-form(enctype="multipart/form-data" method="post")
                .form-group
                    .form-group
                        label(for="feedback-comment-field") Comment:  
                            span#edit-report-title-required(style="color: red") (*)
                        input.form-control#feedback-comment-field.feedback-comment-field(type="text" placeholder="Submit a comment.")
                
          .modal-footer
            button.btn.btn-primary#feedback-comment-submit(title="Submit" name="submit") Submit

    +script('/controllers/auth/teams-sso.client.js')
    +script("/controllers/validation/caseController.client.js")
    +script("/controllers/validation/featureRequestController.client.js")
    +script("/controllers/validation/feedbackController.client.js")
    +script("/controllers/validation/caseFeedbackController.client.js")
    +script("/controllers/validation/userPrefsController.client.js")

