extends layout.pug

block morescripts
  script(src='https://unpkg.com/@microsoft/teams-js@1.3.7/dist/MicrosoftTeams.min.js', integrity='sha384-glExfvkpce98dO2oN+diZ/Luv/5qrZJiOvWCeR8ng/ZxlhpvBgHKeVFRURrh+NEC', crossorigin='anonymous')
  link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/v/bs/dt-1.10.18/datatables.min.css')
  script(type='text/javascript', src='https://cdn.datatables.net/v/bs/dt-1.10.18/datatables.min.js')
  script(type="text/javascript", src="/controllers/configController.client.js")


block content
  .container
    br
    p.centered
        button.btn.tapSelect#teams 
            img.product-icon(src='/public/img/teams-logo.png')
            | Teams TAP
        button.btn.tapSelect#windows
            img.product-icon(src='/public/img/windows-logo.png')
            | Windows TAP
    p.centered #[strong Choose a validation for this tab.]
    p.centered For validations with sections: Check the boxes next to the sections you'd like to show in the tab. The other sections not appear.
    p.centered If you want customers to sign-off by client, check the clients you want available in each section.
    form
      if validations
        h4 Your Validations
        table.table.table-striped.table-responsive#your-validations
            thead
                tr
                    th(scope="col" width="5%")
                    th(scope="col" width="40%") Name
                    th(scope="col" width="55%") Sections
            each validation in validations
                tr(class="val tap-" + validation.tap + " owner-" + validation.owner.split("@")[0] style="display: none")
                    td
                        input(type='radio', name='validation', id=validation._id, value= validation.name, onclick='microsoftTeams.settings.setValidityState(true);')
                    td
                        label(for=validation._id, style="font-size: 12px") #{validation.name}
                    td.sectionCell
                        if validation.groups.length > 0
                            table.table.table-responsive.sections-table(style="display: none")
                                - var groupCount = 0;
                                each group in validation.groups
                                    tr
                                        td
                                            - var safeGroup = group.replace(/ /g, "_").replace(/,/g, "_").replace(/-/g, "_").replace(/\(|\)/g, "_");
                                            
                                                .row
                                                    .col-xs-12
                                                        input(type="checkbox", name="group", value=safeGroup, id=safeGroup, checked)
                                                        label.safe-label(for=safeGroup, style="font-size: 10px;") #[strong #{group}]
                                                .row.client-config
                                                    .col-xs-12
                                                        input.toggle-all(type="checkbox", name="toggleAll", value=validation._id + "-" + groupCount + "-all", id=validation._id + "-" + groupCount + "-all")
                                                        label.safe-label(for=validation._id + "-" + groupCount + "-all", style="font-size: 10px;") (Toggle All Clients) 
                                                .row.client-config
                                                    .col-xs-6
                                                        input.client(type="checkbox", name="clients", value=validation._id + "-" + groupCount + "-windows", id=validation._id + "-" + groupCount + "-windows")
                                                        label.safe-label(for=validation._id + "-" + groupCount + "-windows", style="font-size: 10px;") Win  
                                                    .col-xs-6
                                                        input.client(type="checkbox", name="clients", value=validation._id + "-" + groupCount + "-mac", id=validation._id + "-" + groupCount + "-mac")
                                                        label.safe-label(for=validation._id + "-" + groupCount + "-mac", style="font-size: 10px;") Mac  
                                                .row.client-config
                                                    .col-xs-6
                                                        input.client(type="checkbox", name="clients", value=validation._id + "-" + groupCount + "-android", id=validation._id + "-" + groupCount + "-android")
                                                        label.safe-label(for=validation._id + "-" + groupCount + "-android", style="font-size: 10px;") Android  
                                                    .col-xs-6
                                                        input.client(type="checkbox", name="clients", value=validation._id + "-" + groupCount + "-ios", id=validation._id + "-" + groupCount + "-ios")
                                                        label.safe-label(for=validation._id + "-" + groupCount + "-", style="font-size: 10px;") iOS  
                                                .row.client-config
                                                    .col-xs-6
                                                        input.client(type="checkbox", name="clients", value=validation._id + "-" + groupCount + "-chrome", id=validation._id + "-" + groupCount + "-chrome")
                                                        label.safe-label(for=validation._id + "-" + groupCount + "-", style="font-size: 10px;") Chrome  
                                                    .col-xs-6
                                                        input.client(type="checkbox", name="clients", value=validation._id + "-" + groupCount + "-linux", id=validation._id + "-" + groupCount + "-linux")
                                                        label.safe-label(for=validation._id + "-" + groupCount + "-", style="font-size: 10px;") Linux  

                                                - groupCount += 1;

        h4 Other Validations
        table.table.table-striped.table-responsive#other-validations
            thead
                tr
                    th(scope="col" width="5%")
                    th(scope="col" width="40%") Name
                    th(scope="col" width="55%") Sections
            each validation in validations
                tr(class="val tap-" + validation.tap + " owner-" + validation.owner.split("@")[0])
                    td
                        input(type='radio', name='validation', id=validation._id, value= validation.name, onclick='microsoftTeams.settings.setValidityState(true);')
                    td
                        label(for=validation._id, style="font-size: 12px") #{validation.name}
                    td.sectionCell
                        if validation.groups.length > 0
                            table.table.table-responsive.sections-table(style="display: none")
                                - var groupCount = 0;
                                each group in validation.groups
                                    tr
                                        td
                                            - var safeGroup = group.replace(/ /g, "_").replace(/,/g, "_").replace(/-/g, "_").replace(/\(|\)/g, "_");
                                            
                                                .row
                                                    .col-xs-12
                                                        input(type="checkbox", name="group", value=safeGroup, id=safeGroup, checked)
                                                        label.safe-label(for=safeGroup, style="font-size: 10px;") #[strong #{group}]
                                                .row
                                                    .col-xs-12
                                                        input.toggle-all(type="checkbox", name="toggleAll", value=validation._id + "-" + groupCount + "-all", id=validation._id + "-" + groupCount + "-all")
                                                        label.safe-label(for=validation._id + "-" + groupCount + "-all", style="font-size: 10px;") (Toggle All Clients) 
                                                .row
                                                    .col-xs-6
                                                        input.client(type="checkbox", name="clients", value=validation._id + "-" + groupCount + "-windows", id=validation._id + "-" + groupCount + "-windows")
                                                        label.safe-label(for=validation._id + "-" + groupCount + "-windows", style="font-size: 10px;") Win  
                                                    .col-xs-6
                                                        input.client(type="checkbox", name="clients", value=validation._id + "-" + groupCount + "-mac", id=validation._id + "-" + groupCount + "-mac")
                                                        label.safe-label(for=validation._id + "-" + groupCount + "-mac", style="font-size: 10px;") Mac  
                                                .row
                                                    .col-xs-6
                                                        input.client(type="checkbox", name="clients", value=validation._id + "-" + groupCount + "-android", id=validation._id + "-" + groupCount + "-android")
                                                        label.safe-label(for=validation._id + "-" + groupCount + "-android", style="font-size: 10px;") Android  
                                                    .col-xs-6
                                                        input.client(type="checkbox", name="clients", value=validation._id + "-" + groupCount + "-ios", id=validation._id + "-" + groupCount + "-ios")
                                                        label.safe-label(for=validation._id + "-" + groupCount + "-", style="font-size: 10px;") iOS  
                                                .row
                                                    .col-xs-6
                                                        input.client(type="checkbox", name="clients", value=validation._id + "-" + groupCount + "-chrome", id=validation._id + "-" + groupCount + "-chrome")
                                                        label.safe-label(for=validation._id + "-" + groupCount + "-", style="font-size: 10px;") Chrome  
                                                    .col-xs-6
                                                        input.client(type="checkbox", name="clients", value=validation._id + "-" + groupCount + "-linux", id=validation._id + "-" + groupCount + "-linux")
                                                        label.safe-label(for=validation._id + "-" + groupCount + "-", style="font-size: 10px;") Linux  

                                                - groupCount += 1;