extends layout.pug

block morescripts
  script(src='https://unpkg.com/@microsoft/teams-js@1.3.7/dist/MicrosoftTeams.min.js', integrity='sha384-glExfvkpce98dO2oN+diZ/Luv/5qrZJiOvWCeR8ng/ZxlhpvBgHKeVFRURrh+NEC', crossorigin='anonymous')
  script(type="text/javascript", src="/controllers/configController.client.js")


block content
  .container
    br
    p.centered Choose a validation for this tab.
    form
      if validations
        each validation in validations
          .container.val
            input(type='radio', name='validation', id=validation._id, value= validation.name, onclick='microsoftTeams.settings.setValidityState(true);')
            label(for=validation._id)       #{validation.name}
            if validation.groups.length > 0
                ul
                    li Show the checked sections by default (others will be collapsed):
                    each group in validation.groups
                        - var safeGroup = group.replace(/ /g, "_");
                        li
                            input(type="checkbox", name="group", value=safeGroup id=safeGroup)
                            label.safe-label(for=safeGroup) #{group}
            br
            br