extends layout.pug
block content

  - function getQuarter(d) {
  - d = d || new Date(); // If no date supplied, use today
  - var q = [1, 2, 3, 4];
  - return d.getFullYear() + " Q" + q[Math.floor(d.getMonth() / 3)];
  - }

  - function getPlainQuarter(d) {
  - d = d || new Date(); // If no date supplied, use today
  - var q = [1, 2, 3, 4];
  - return d.getFullYear() + "-q" + q[Math.floor(d.getMonth() / 3)];
  - }
  .container
    br
    if tenant
        p.heading-text Teams TAP Performance for #{tenant.name}
        p.centered Joined TAP: #{new Date(tenant.dateAdded).toLocaleDateString()}
        p.centered Status: #{tenant.status}

        p#tenantId(style="display: none") #{tenant.tid}

    br

    .container
        .col-xs-2
        .col-xs-8
            each quarter in ['2020-q1', '2019-q4', '2019-q3', '2019-q2', '2019-q1']
                if quarter == getPlainQuarter()
                    h3 #{quarter.replace('-q', ' Q')} (Current)
                    p Program Requirements:
                    if tenant.status == "Only Ring 1.5"
                        ul(style="list-style-type: none")
                            if quarter in tenant.stats
                                if tenant.stats[quarter].underperforming
                                    li
                                        i.fa.fa-times(style="color: red")  
                                        | Participate in at least #[strong 5] current-quarter validations
                                else
                                    li
                                        i.fa.fa-check(style="color: green")  
                                        | Participate in at least #[strong 5] current-quarter validations
                            else
                                li
                                    i.fa.fa-times(style="color: red")  
                                    | Participate in at least #[strong 5] current-quarter validations
                    else
                        ul(style="list-style-type: none")
                            if quarter in tenant.stats
                                if tenant.stats[quarter].underperforming
                                    li
                                        i.fa.fa-times(style="color: red")  
                                        | Participate in at least #[strong 2] current-quarter validations
                                else
                                    li
                                        i.fa.fa-check(style="color: green")  
                                        | Participate in at least #[strong 2] current-quarter validations
                            else
                                li
                                    i.fa.fa-times(style="color: red")  
                                    | Participate in at least #[strong 2] current-quarter validations
                else
                    h3 #{quarter.replace('-q', ' Q')}
                if quarter in tenant.stats
                    table.table.table-bordered.table-responsive.table-striped.performanceTable
                        thead
                            tr
                                th(scope="col") Validation
                                th(scope="col") Quarter
                                th(scope="col") #
                        tbody
                            each count, key in tenant.stats[quarter].validationParticipation
                                - var valObj = validations.find(obj => obj._id == key)
                                - var valQuarter = getPlainQuarter(new Date(valObj.timestamp));

                                if valQuarter != quarter
                                    - var valClass = "old-validation";
                                else
                                    - var valClass = "current-validation";
                                tr(class=valClass)
                                    - var prettyName = valObj.name;
                                    - var prettyQuarter = getQuarter(new Date(valObj.timestamp));


                                    if (prettyName.includes(" Problems"))
                                        - prettyName = prettyName.replace(" Problems", "");
                                        td(class=valClass)
                                            i.fa.fa-bug(title="Bugs")   
                                            |   #{prettyName}
                                        td(style="width: 25%") #{prettyQuarter}
                                        td(style="width: 10%") #{count}
                                    else
                                        td(class=valClass)
                                            i.fa.fa-clipboard-list(title="Sign-Offs")    
                                            if valObj.tabUrl
                                                |     #[a(href="/validations/" + key) #{prettyName}]
                                            else
                                                |     #{prettyName}
                                        td(style="width: 25%") #{prettyQuarter}
                                        td(style="width: 10%") #{count}
        .col-xs-2
                            

                
    script(type='text/javascript', src='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js')
    script(type='text/javascript', src='https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js')
    link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css')
    script(type="text/javascript", src="/controllers/performanceController.client.js")

  