extends layout.pug

block content
  .container
    if !validation.active
        .alert.alert-warning This validation has ended. You will not be able to sign-off on any more scenarios.
    br
    p.heading-text Validation for: #{validation.name}
    p.validation-progress.centered
    p(style="display: none") #{validation.tag}
    p.subtle#validation-id(style="display: none") #{validation._id}

    br
    if validation.blurb
        .container
            .well.blurb !{validation.blurb}

    .container
      .container.caseList
          if validation.groups.length > 0
            - var groupCount = 0;
            .panel-group#accordion
                each group in validation.groups
                    - var safeGroupName = group.replace(/ /g, "_").replace(/,/g, "_").replace(/-/g, "_").replace(/\(|\)/g, "_");
                    - groupCount++;
                    .panel.panel-default.group-panel(id="panel-" + safeGroupName)
                        .panel-heading.group-panel-heading
                            a.panel-title.toggle-collapse(data-toggle="collapse" data-target="#collapse-" + safeGroupName) #[strong #{groupCount}. #{group}] 
                            span.group-progress
                        
                        .panel-collapse.collapse.in(id="collapse-" + safeGroupName)
                            .panel-body.group-panel-body
                                .panel-group(id="accordion-" + safeGroupname)
                                - var caseCount = 1;
                                each kase in cases
                                  if kase.group == group

                                    // New style collapsible case
                                    .panel.panel-default.case-panel(id="panel-" + kase._id)
                                        .panel-heading
                                            a.toggle-collapse(data-toggle="collapse" data-target="#collapse-" + kase._id, style="color: black")
                                                p.case-text #{groupCount}-#{caseCount}. #{kase.name}
                                                - caseCount += 1;
                                        .panel-collapse.collapse.in(id="collapse-" + kase._id)
                                            .panel-body
                                                .col-sm-3.hidden-xs.centered
                                                    p.upvotes-header Works (#{kase.upvotes_v2.length})
                                                    .upvotes
                                                        if kase.upvotes_v2
                                                            each vote in kase.upvotes_v2
                                                                p.vote #{vote.email}
                                                                    //span.tenant(class=vote.tenantId + "-tenant", style="display: none") #{vote.tenantName}
                                                                    //span.email(class=vote.tenantId + "-email", style="display: none") #{vote.email}

                                                .col-sm-6
                                                    if kase.description
                                                        .well
                                                            p.case-description !{kase.description}
                                                    else
                                                        br
                                                        br
                                                        br
                                                    .btn-container
                                                        .hidden-sm.hidden-lg.hidden-xl
                                                            p Works (#{kase.upvotes_v2.length}) | Fails (#{kase.downvotes_v2.length})
                                                        if validation.active
                                                            button.btn.btn-upvote(type="submit")
                                                                i.fa.fa-thumbs-up 
                                                                |   Works
                                                            button.btn.btn-comment(type='submit', data-toggle="modal", data-target="#comment-modal") Comment
                                                            button.btn.btn-downvote(type="submit", data-toggle="modal", data-target="#report-modal")
                                                                i.fa.fa-thumbs-down 
                                                                |   Fails
                                                        else
                                                            button.btn.btn-upvote(type="submit" disabled)
                                                                i.fa.fa-thumbs-up 
                                                                |   Works
                                                            button.btn.btn-comment(type='submit', data-toggle="modal", data-target="#comment-modal" disabled) Comment
                                                            button.btn.btn-downvote(type="submit", data-toggle="modal", data-target="#report-modal" disabled)
                                                                i.fa.fa-thumbs-down 
                                                                |   Fails
                                                    //p.centered.timestamp.subtle #{kase.timestamp.toLocaleDateString()}
                                                    p.subtle.deep-link(style="display: none")
                                                        i.fa.fa-link   Link
                                                    p.subtle(style="display: none") #{kase._id}

                                                .col-sm-3.hidden-xs.centered
                                                    p.downvotes-header Fails (#{kase.downvotes_v2.length})
                                                    .downvotes
                                                        if kase.downvotes_v2
                                                            each vote in kase.downvotes_v2
                                                                p.vote #{vote.email}
                                                                    //span.tenant(class=vote.tenantId + "-tenant", style="display: none") #{vote.tenantName}
                                                                    //span.email(class=vote.tenantId + "-email", style="display: none") #{vote.email}
                    
          else
              - var caseCount = 1;
              if cases.length > 0
                 each kase in cases
                    if kase.group == null || kase.group == ""
                        // New style collapsible case
                        .panel.panel-default.case-panel(id="panel-" + kase._id)
                            .panel-heading
                                a.toggle-collapse(data-toggle="collapse" data-target="#collapse-" + kase._id, style="color: black")
                                    p.case-text #{caseCount}. #{kase.name}
                                    - caseCount += 1;
                            .panel-collapse.collapse.in(id="collapse-" + kase._id)
                                .panel-body
                                    .col-sm-3.hidden-xs.centered
                                        p.upvotes-header Works (#{kase.upvotes_v2.length})
                                        .upvotes
                                            if kase.upvotes_v2
                                                each vote in kase.upvotes_v2
                                                    p.vote #{vote.email}
                                                        //span.tenant(class=vote.tenantId + "-tenant", style="display: none") #{vote.tenantName}
                                                        //span.email(class=vote.tenantId + "-email", style="display: none") #{vote.email}

                                    .col-sm-6
                                        if kase.description
                                            .well
                                                p.case-description !{kase.description}
                                        else
                                            br
                                            br
                                            br
                                        .btn-container
                                            if validation.active
                                                button.btn.btn-upvote(type="submit")
                                                    i.fa.fa-thumbs-up 
                                                    |   Works
                                                button.btn.btn-comment(type='submit', data-toggle="modal", data-target="#comment-modal") Comment
                                                button.btn.btn-downvote(type="submit", data-toggle="modal", data-target="#report-modal")
                                                    i.fa.fa-thumbs-down 
                                                    |   Fails
                                            else
                                                button.btn.btn-upvote(type="submit" disabled)
                                                    i.fa.fa-thumbs-up 
                                                    |   Works
                                                button.btn.btn-comment(type='submit', data-toggle="modal", data-target="#comment-modal" disabled) Comment
                                                button.btn.btn-downvote(type="submit", data-toggle="modal", data-target="#report-modal" disabled)
                                                    i.fa.fa-thumbs-down 
                                                    |   Fails
                                        //p.centered.timestamp.subtle #{kase.timestamp.toLocaleDateString()}
                                        p.subtle.deep-link(style="display: none")
                                            i.fa.fa-link   Link
                                        p.subtle(style="display: none") #{kase._id}

                                    .col-sm-3.hidden-xs.centered
                                        p.downvotes-header Fails (#{kase.downvotes_v2.length})
                                        .downvotes
                                            if kase.downvotes_v2
                                                each vote in kase.downvotes_v2
                                                    p.vote #{vote.email}
                                                        //span.tenant(class=vote.tenantId + "-tenant", style="display: none") #{vote.tenantName}
                                                        //span.email(class=vote.tenantId + "-email", style="display: none") #{vote.email}
              else
                p No scenarios have been added yet. Check back later!

    #report-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#modalLabel.modal-title Please Report a Problem
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true')
                i.fa.fa-times
          .modal-body
            | Your vote has been recorded. Please submit more details through "Report a Problem" as well.
          .modal-footer
            button.btn.btn-primary(type='button', data-dismiss="modal") OK

    #comment-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='commentLabel', aria-hidden='true')
      #comment-id(style="display: none") Test
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5.modal-title#commentLabel Submit a comment for this scenario
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true')
                i.fa.fa-times
          .modal-body
            | Your comment will be shared with the team.
            input.text#commentField(placeholder="Comment")
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss="modal") Cancel
            button.btn.btn-primary#submitComment(type='button', data-dismiss="modal") Submit

    script(type="text/javascript", src="/controllers/bugController.client.js")
    script(type="text/javascript", src="/controllers/caseController.client.js")