extends layout.pug

block content
  .container
    if !validation.active
        .alert.alert-warning This validation has ended. You will not be able to sign-off on any more scenarios.
    br
    .row
        .col-xs-9
            p.heading-text #{validation.name}

        .col-xs-3
            if validation.tap == "Teams"
                span.label.label-primary.tap-label #{validation.tap} TAP
            else
                span.label.label-info.tap-label #{validation.tap} TAP

    p.validation-progress.centered
    p#validation-tag(style="display: none") #{validation.tag}
    p.subtle#tap(style="display: none") #{validation.tap}
    p.subtle#validation-id(style="display: none") #{validation._id}

    br
    if validation.blurb
        .container
            .well.blurb !{validation.blurb}
    - var clients = ['windows', 'mac', 'android', 'ios', 'chrome', 'linux'];
    - var walkie_clients = [];
    if validation._id == 767324
        - console.log("It's the walkie talkie validation");
        - walkie_clients = ['Samsung XCP', 'Android + Wired H', 'Android + Wireless H'];

    datalist#deviceList
        option(value="Jabra EVOLVE 20 MS", data-value="Jabra EVOLVE 20 MS")
        option(value="Jabra EVOLVE 30 II", data-value="Jabra EVOLVE 30 II")
        option(value="Jabra EVOLVE LINK MS", data-value="Jabra EVOLVE LINK MS")
        option(value="Jabra Link 370", data-value="Jabra Link 370")
        option(value="Jabra SPEAK 510 USB", data-value="Jabra SPEAK 510 USB")
        option(value="Logitech H570e Stereo", data-value="Logitech H570e Stereo")
        option(value="Microsoft LifeChat LX-6000", data-value="Microsoft LifeChat LX-6000")
        option(value="Plantronics Blackwire 3220 Series", data-value="Plantronics Blackwire 3220 Series")
        option(value="Plantronics BT600", data-value="Plantronics BT600")
        option(value="Plantronics C320-M", data-value="Plantronics C320-M")
        option(value="Plantronics C725", data-value="Plantronics C725")
        option(value="Plantronics P540-M", data-value="Plantronics P540-M")
        option(value="Polycom CX300 R2", data-value="Polycom CX300 R2")
        option(value="Polycom CX300", data-value="Polycom CX300")
        option(value="Thinkcentre TIO22Gen3", data-value="Thinkcentre TIO22Gen3")
        option(value="Thinkcentre TIO22Gen3Touch", data-value="Thinkcentre TIO22Gen3Touch")
        option(value="Thinkcentre TIO24Gen3", data-value="Thinkcentre TIO24Gen3")
        option(value="Tiny-in-One 22", data-value="Tiny-in-One 22")
        option(value="Tiny-in-One 23", data-value="Tiny-in-One 23")
        option(value="Tiny-in-One 24", data-value="Tiny-in-One 24")

    .container.teams-mode(style="display: none")
        .form-group.row
            .col-sm-3
            .col-sm-6
                .row
                    label.control-label.col-form-label.col-sm-6(for='teamsMode')
                        span(style="color: red") (*) 
                        | Select your Teams Mode type:
                    select#teamsMode.form-control.col-sm-6(placeholder="Please select which Teams Mode you are using.")
                        option(value="", label="", selected) 
                        option(value="Teams Only Mode", label="Teams Only Mode") Teams Only Mode
                        option(value="Teams Islands Mode", label="Teams Islands Mode") Teams Islands Mode
                        option(value="SfB* Mode", label="SfB* Mode") SfB* Mode
                        option(value="Don't Know", label="Don't Know") Don't Know
            .col-sm-3
        br

    .container#windows-build(style="display: none")
        h4 Your Info
        .well
            .form-group.row
                .col-sm-3
                .col-sm-6
                    .row
                        label.control-label.col-form-label.col-sm-6(for='windowsBuildType')
                            span(style="color: red") (*) 
                            | Windows build type:
                        select#windowsBuildType.form-control.col-sm-6(placeholder="Please select which Windows build you are running.")
                            option(value="", label="", selected) 
                            option(value="Pre-Release", label="Pre-Release") Pre-Release
                            option(value="Release", label="Release") Release
                .col-sm-3
            .form-group.row
                .col-sm-3
                .col-sm-6
                    .row
                        label.control-label.col-form-label.col-sm-6(for='windowsBuildVersion')
                            span(style="color: red") (*) 
                            | Windows build version:
                        input#windowsBuildVersion.form-control.col-sm-6(placeholder="Please enter the version number of your Windows build.", type="text")
                .col-sm-3
        br

    .container
      .container.caseList
            h4 Scenarios
            - var groupCount = 0;
            .panel-group#accordion
                each group in validation.groups
                    - var safeGroupName = group.replace(/[^\w]/gi, '_');
                    - groupCount++;
                    .panel.panel-default.group-panel(id="panel-" + safeGroupName)
                        .panel-heading.group-panel-heading
                            a.panel-title.toggle-collapse(data-toggle="collapse" data-target="#collapse-" + safeGroupName) #[strong #{groupCount}. #{group}] 
                            span.group-progress
                        
                        .panel-collapse.group-collapse.collapse.in(id="collapse-" + safeGroupName)
                            .panel-body.group-panel-body
                                .panel-group(id="accordion-" + safeGroupname)
                                - var caseCount = 1;
                                each kase in cases
                                  if kase.group == group

                                    // New style collapsible case
                                    .panel.panel-default.case-panel(id="panel-" + kase._id)
                                        .panel-heading
                                            a.toggle-collapse(data-toggle="collapse" data-target="#collapse-" + kase._id, style="color: black")
                                                p.case-text #{groupCount}-#{caseCount}. #{kase.name}
                                                - caseCount += 1;
                                        .panel-collapse.case-collapse.collapse.in(id="collapse-" + kase._id)
                                            .panel-body
                                                .col-sm-3.hidden-xs.centered
                                                    p.upvotes-header Works
                                                    .upvotes
                                                        table.compact.upvotes-table.votes-table(id="upvotes-" + kase._id)
                                                            thead(style="display: none")
                                                                tr
                                                                    td(scope="col") Vote
                                                            tbody

                                                .col-sm-6
                                                    if kase.description
                                                        .well
                                                            p.case-description !{kase.description}
                                                    else
                                                        br

                                                    .hidden-sm.hidden-md.hidden-lg.hidden-xl.mobile-works-fails(style="text-align: center")
                                                        span.upvotes-header Works (0)  
                                                        | | 
                                                        span.downvotes-header Fails (0) 
                                                        br
                                                        br
                                                    .row.device-select-group(style="display: none")
                                                        input.form-control.device-select.col-md-9(id=kase._id + "-device", type="text", list="deviceList", placeholder="Select or type your device's name.")
                                                        br
                                                    .client-checkboxes(style="display: none")
                                                        .row
                                                            each client in clients
                                                                if client == 'ios'
                                                                    - var clientCaps = "iOS";
                                                                else
                                                                    - var clientCaps = client.charAt(0).toUpperCase() + client.slice(1);
                                                                .col-sm-6(class=client + "-group")
                                                                    .btn-group(data-toggle="buttons")
                                                                        label.col-xs-8(for=kase._id + '-' + client + '-works') #{clientCaps}: 
                                                                        label.col-xs-2.btn.radio-btn
                                                                            input(type="radio", name=clientCaps, value='works', id=kase._id + '-' + client + '-works')
                                                                            span.align-middle.thumbContainer
                                                                                i.fa.fa-thumbs-up
                                                                        label.col-xs-2.btn.radio-btn(type="submit", data-toggle="modal", data-target="#report-modal")
                                                                            input(type="radio", name=clientCaps, value='fails', id=kase._id + '-' + client + '-fails')
                                                                            span.align-middle.thumbContainer
                                                                                i.fa.fa-thumbs-down

                                                    .walkie-checkboxes(style="display: none")
                                                        .row
                                                            each client in walkie_clients
                                                                - var safeClient = client.replace(/[^\w]/gi, '_');
                                                                .div(class=safeClient + "-group")
                                                                    .btn-group(data-toggle="buttons")
                                                                        label.col-xs-8.lighter-label(for=kase._id + '-" + safeClient + "-works') #{client}:  
                                                                        label.col-xs-2.btn.radio-btn
                                                                            input(type="radio", name=client, value='works', id=kase._id + '-' + safeClient + '-works')
                                                                            span.align-middle.thumbContainer
                                                                                i.fa.fa-thumbs-up
                                                                        label.col-xs-2.btn.radio-btn(type="submit", data-toggle="modal", data-target="#report-modal")
                                                                            input(type="radio", name=client, value='fails', id=kase._id + '-' + safeClient + '-fails')
                                                                            span.align-middle.thumbContainer
                                                                                i.fa.fa-thumbs-down
                                                        br
                                                        .row.btn-container
                                                            button.btn.btn-comment Feedback...
                                                    .no-client-checkboxes.btn-container
                                                        if validation.active
                                                            button.btn.btn-upvote(type="submit")
                                                                i.fa.fa-thumbs-up 
                                                                |   Works
                                                            button.btn.btn-comment(type='submit', data-toggle="modal", data-target="#comment-modal") Feedback...
                                                            button.btn.btn-downvote(type="submit", data-toggle="modal", data-target="#report-modal")
                                                                i.fa.fa-thumbs-down 
                                                                |   Fails
                                                        else
                                                            button.btn.btn-upvote(type="submit" disabled)
                                                                i.fa.fa-thumbs-up 
                                                                |   Works
                                                            button.btn.btn-comment(type='submit', data-toggle="modal", data-target="#comment-modal") Feedback...
                                                            button.btn.btn-downvote(type="submit", data-toggle="modal", data-target="#report-modal" disabled)
                                                                i.fa.fa-thumbs-down 
                                                                |   Fails
                                                //p.centered.timestamp.subtle #{kase.timestamp.toLocaleDateString()}
                                                p.subtle.deep-link(style="display: none")
                                                    i.fa.fa-link   Link
                                                p.subtle(style="display: none") #{kase._id}

                                                .col-sm-3.hidden-xs.centered
                                                    p.downvotes-header Fails
                                                    .downvotes
                                                        table.compact.downvotes-table.votes-table(id="downvotes-" + kase._id)
                                                            thead(style="display: none")
                                                                tr
                                                                    td(scope="col") Vote
                                                            tbody

                    
            - var caseCount = 1;
            if cases.length > 0
                each kase in cases
                    if kase.group == null || kase.group == ""
                        // New style collapsible case
                        .panel.panel-default.case-panel.ungrouped(id="panel-" + kase._id)
                            .panel-heading.ungrouped
                                a.toggle-collapse(data-toggle="collapse" data-target="#collapse-" + kase._id, style="color: black")
                                    p.case-text #{caseCount}. #{kase.name}
                                    - caseCount += 1;
                            .panel-collapse.case-collapse.collapse.in(id="collapse-" + kase._id)
                                .panel-body
                                    .col-sm-3.hidden-xs.centered
                                        p.upvotes-header Works (0)
                                        .upvotes
                                            table.compact.upvotes-table.votes-table(id="upvotes-" + kase._id)
                                                thead(style="display: none")
                                                    tr
                                                        td(scope="col") Vote
                                                tbody

                                    .col-sm-6
                                        if kase.description
                                            .well
                                                p.case-description !{kase.description}
                                        else
                                            br
                                        .btn-container
                                            .hidden-sm.hidden-md.hidden-lg.hidden-xl.mobile-works-fails(style="text-align: center")
                                                span.upvotes-header Works (0)  
                                                | | 
                                                span.downvotes-header Fails (0) 
                                                br
                                                br
                                            if validation.active
                                                button.btn.btn-upvote(type="submit")
                                                    i.fa.fa-thumbs-up 
                                                    |   Works
                                                button.btn.btn-comment(type='submit', data-toggle="modal", data-target="#comment-modal") Feedback...
                                                button.btn.btn-downvote(type="submit", data-toggle="modal", data-target="#report-modal")
                                                    i.fa.fa-thumbs-down 
                                                    |   Fails
                                            else
                                                button.btn.btn-upvote(type="submit" disabled)
                                                    i.fa.fa-thumbs-up 
                                                    |   Works
                                                button.btn.btn-comment(type='submit', data-toggle="modal", data-target="#comment-modal" disabled) Feedback...
                                                button.btn.btn-downvote(type="submit", data-toggle="modal", data-target="#report-modal" disabled)
                                                    i.fa.fa-thumbs-down 
                                                    |   Fails
                                        //p.centered.timestamp.subtle #{kase.timestamp.toLocaleDateString()}
                                        p.subtle.deep-link(style="display: none")
                                            i.fa.fa-link   Link
                                        p.subtle(style="display: none") #{kase._id}

                                    .col-sm-3.hidden-xs.centered
                                        p.downvotes-header Fails (0)
                                        .downvotes
                                            table.compact.downvotes-table.votes-table(id="downvotes-" + kase._id)
                                                thead(style="display: none")
                                                    tr
                                                        td(scope="col") Vote
                                                tbody
            else
                p No scenarios have been added yet. Check back later!

      hr
      .container.otherActions(style="display: none")
        h4 Other Actions
        button.btn(type='submit', data-toggle="modal", data-target="#feedback-modal") Share general feedback...
        button.btn(type='submit', data-toggle="modal", data-target="#feature-request-modal" disabled) Suggest a feature...

      hr
      .container.featureRequests(style="display: none")
        h4 Suggest a feature (TBD)
        .alert.alert-success#featureRequest-success(role="alert", style="display: none") Thanks for suggesting a feature - it wlil be shared with the team.
        .form-group
            label.col-xl-2(for="featureRequestTitle") Title
            textarea.form-control.col-xl-10#featureRequestTitle(rows=2, placeholder="Feature title")
        .form-group
            label.col-xl-2(for="featureRequestDescription") Description
            textarea.form-control.col-xl-10#featureRequestDescription(rows=2, placeholder="Give a detailed description of your feature.")

        button.btn.btn-primary#submitFeatureRequest(type='button', style="float: right", disabled) Submit

    #report-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#modalLabel.modal-title Please Report a Problem
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true')
                i.fa.fa-times
          .modal-body
            | Your vote has been recorded. Please submit more details through "Report a Problem" on the device you used for the scenario as well.
          .modal-footer
            button.btn.btn-primary(type='button', data-dismiss="modal") OK

    #comment-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='commentLabel', aria-hidden='true')
      #comment-id(style="display: none") Test
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5.modal-title#commentLabel Submit feedback for this scenario
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true')
                i.fa.fa-times
          .modal-body
            | Your feedback will be shared with the team.
            input.text#commentField(placeholder="Comment")
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss="modal") Cancel
            button.btn.btn-primary#submitComment(type='button', data-dismiss="modal") Submit

    // Windows modals
    #windows-report-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='windowsReportLabel', aria-hidden='true')
      #windows-report-id(style="display: none") Test
      #windows-report-name(style="display: none") Name
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            h4#windows-report-header.modal-title Report a problem with this scenario
          .modal-body
            form#windows-report-form(enctype="multipart/form-data" method="post")
                .form-group
                    label(for="windows-report-field") Details:
                    textarea.form-control#windows-report-field(rows=5, placeholder="Please describe the problem.")
                .form-group
                    label(for="windws-report-file") File Upload:
                    input#windows-report-file(type="file" name="userPhoto")

          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss="modal") Cancel
            button.btn.btn-primary#windows-report-submit(type='submit', value="Upload Image", name="submit") Submit

    #feedback-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='feedbackLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            h4#feeback-header.modal-title Share general feedback
          .modal-body
            //.alert.alert-success#feedback-success(role="alert", style="display: none") Thanks for your feedback - it will be shared with the team.
            table.table.table-striped.compact#feedback-table
                thead
                    tr
                        td #[strong Existing feedback]
                        //td #[strong Edit]
                        //td Public?
                tbody
                    each fb in feedback
                        tr
                            td "#{fb.text}"
                            //td 
                            //td #{fb.public}
                            //td #{new Date(fb.timestamp).toLocaleDateString()}
            hr

            .form-group
                label(for="windows-report-field") Feedback:
                textarea.form-control#feedbackField(rows=2, placeholder="If you have any feedback on this validation, feature, or product area you wish to share with the team, you may do so here.")
            .form-group
                input(type="checkbox", name="feedbackPublic", value=true)#feedbackPublicField
                label(for=feedbackPublic) Make my feedback public.
            p.less-subtle Don't share any confidential or personally identifiable information through this form, especially if making your feedback public.
                
          .modal-footer
              button.btn.btn-primary#submitFeedback(type='button', style="float: right", disabled) Submit

    script(type='text/javascript', src='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js')
    script(type='text/javascript', src='https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js')
    link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css')
    script(type="text/javascript", src="/controllers/caseController.client.js")