extends layout.pug

block content
  .container
    if !validation.active
        .alert.alert-warning This validation has ended. You will not be able to sign-off on any more scenarios.
    br
    p.heading-text Validation for: #{validation.name}
    p.validation-progress.centered
    p(style="display: none") #{validation.tag}
    p.subtle#validation-id(style="display: none") #{validation._id}

    br
    if validation.blurb
        .container
            .well.blurb !{validation.blurb}

    datalist#deviceList
        option(value="Jabra EVOLVE 20 MS", data-value="Jabra EVOLVE 20 MS")
        option(value="Jabra EVOLVE 30 II", data-value="Jabra EVOLVE 30 II")
        option(value="Jabra EVOLVE LINK MS", data-value="Jabra EVOLVE LINK MS")
        option(value="Jabra Link 370", data-value="Jabra Link 370")
        option(value="Jabra SPEAK 510 USB", data-value="Jabra SPEAK 510 USB")
        option(value="Logitech H570e Stereo", data-value="Logitech H570e Stereo")
        option(value="Microsoft LifeChat LX-6000", data-value="Microsoft LifeChat LX-6000")
        option(value="Plantronics Blackwire 3220 Series", data-value="Plantronics Blackwire 3220 Series")
        option(value="Plantronics BT600", data-value="Plantronics BT600")
        option(value="Plantronics C320-M", data-value="Plantronics C320-M")
        option(value="Plantronics C725", data-value="Plantronics C725")
        option(value="Plantronics P540-M", data-value="Plantronics P540-M")
        option(value="Polycom CX300 R2", data-value="Polycom CX300 R2")
        option(value="Polycom CX300", data-value="Polycom CX300")
        option(value="Thinkcentre TIO22Gen3", data-value="Thinkcentre TIO22Gen3")
        option(value="Thinkcentre TIO22Gen3Touch", data-value="Thinkcentre TIO22Gen3Touch")
        option(value="Thinkcentre TIO24Gen3", data-value="Thinkcentre TIO24Gen3")
        option(value="Tiny-in-One 22", data-value="Tiny-in-One 22")
        option(value="Tiny-in-One 23", data-value="Tiny-in-One 23")
        option(value="Tiny-in-One 24", data-value="Tiny-in-One 24")

    .container.teams-mode(style="display: none")
        .form-group.row
            .col-sm-3
            .col-sm-6
                .row
                    label.control-label.col-form-label.col-sm-6(for='teamsMode')
                        span(style="color: red") (*) 
                        | Select your Teams Mode type:
                    select#teamsMode.form-control.col-sm-6(placeholder="Please select which Teams Mode you are using.")
                        option(value="", label="", selected) 
                        option(value="Teams Only Mode", label="Teams Only Mode") Teams Only Mode
                        option(value="Teams Islands Mode", label="Teams Islands Mode") Teams Islands Mode
                        option(value="SfB* Mode", label="SfB* Mode") SfB* Mode
                        option(value="Don't Know", label="Don't Know") Don't Know
            .col-sm-3
        br

    .container
      .container.caseList
          if validation.groups.length > 0
            - var groupCount = 0;
            .panel-group#accordion
                each group in validation.groups
                    - var safeGroupName = group.replace(/[^\w]/gi, '_');
                    - groupCount++;
                    .panel.panel-default.group-panel(id="panel-" + safeGroupName)
                        .panel-heading.group-panel-heading
                            a.panel-title.toggle-collapse(data-toggle="collapse" data-target="#collapse-" + safeGroupName) #[strong #{groupCount}. #{group}] 
                            span.group-progress
                        
                        .panel-collapse.collapse.in(id="collapse-" + safeGroupName)
                            .panel-body.group-panel-body
                                .panel-group(id="accordion-" + safeGroupname)
                                - var caseCount = 1;
                                each kase in cases
                                  if kase.group == group

                                    // New style collapsible case
                                    .panel.panel-default.case-panel(id="panel-" + kase._id)
                                        .panel-heading
                                            a.toggle-collapse(data-toggle="collapse" data-target="#collapse-" + kase._id, style="color: black")
                                                p.case-text #{groupCount}-#{caseCount}. #{kase.name}
                                                - caseCount += 1;
                                        .panel-collapse.collapse.in(id="collapse-" + kase._id)
                                            .panel-body
                                                .col-sm-3.hidden-xs.centered
                                                    p.upvotes-header Works (#{kase.upvotes_v2.length})
                                                    .upvotes
                                                        if kase.upvotes_v2
                                                            each vote in kase.upvotes_v2
                                                                p.vote
                                                                    span.tenant(class=vote.tenantId + "-tenant", style="display: none") #{vote.tenantName}
                                                                    span.email(class=vote.tenantId + "-email", style="display: none") #{vote.email} 
                                                                        if vote.client
                                                                            | (#{vote.client})
                                                                        if vote.device
                                                                            | (#{vote.device}
                                                                            if vote.teamsMode
                                                                                | - #{vote.teamsMode})
                                                                            else
                                                                                | )



                                                .col-sm-6
                                                    if kase.description
                                                        .well
                                                            p.case-description !{kase.description}
                                                    else
                                                        br

                                                    .hidden-sm.hidden-md.hidden-lg.hidden-xl.mobile-works-fails(style="text-align: center")
                                                        p Works (#{kase.upvotes_v2.length}) | Fails (#{kase.downvotes_v2.length})
                                                        br
                                                    .row.device-select-group(style="display: none")
                                                        input.form-control.device-select.col-md-9(id=kase._id + "-device", type="text", list="deviceList", placeholder="Select or type your device's name.")
                                                        br
                                                    .client-checkboxes(style="display: none")
                                                        .row
                                                            .col-sm-6.windows-group
                                                                .btn-group(data-toggle="buttons")
                                                                    label(for=kase._id + '-windows-works') Windows:   
                                                                    label.btn.radio-btn
                                                                        input(type="radio", name="Windows", value='works', id=kase._id + '-windows-works')
                                                                        span.align-middle
                                                                            i.fa.fa-thumbs-up
                                                                    label.btn.radio-btn(type="submit", data-toggle="modal", data-target="#report-modal")
                                                                        input(type="radio", name="Windows", value='fails', id=kase._id + '-windows-fails')
                                                                        span.align-middle
                                                                            i.fa.fa-thumbs-down
                                                            .col-sm-6.mac-group
                                                                .btn-group(data-toggle="buttons")
                                                                    label(for=kase._id + '-mac-works') Mac:  
                                                                    label.btn.radio-btn
                                                                        input(type="radio", name="Mac", value='works', id=kase._id + '-mac-works')
                                                                        span.align-middle
                                                                            i.fa.fa-thumbs-up
                                                                    label.btn.radio-btn(type="submit", data-toggle="modal", data-target="#report-modal")
                                                                        input(type="radio", name="Mac", value='fails', id=kase._id + '-mac-fails')
                                                                        span.align-middle
                                                                            i.fa.fa-thumbs-down
                                                            .col-sm-6.android-group
                                                                .btn-group(data-toggle="buttons")
                                                                    label(for=kase._id + '-android-works') Android:   
                                                                    label.btn.radio-btn
                                                                        input(type="radio", name="Android", value='works', id=kase._id + '-android-works')
                                                                        span.align-middle
                                                                            i.fa.fa-thumbs-up
                                                                    label.btn.radio-btn(type="submit", data-toggle="modal", data-target="#report-modal")
                                                                        input(type="radio", name="Android", value='fails', id=kase._id + '-android-fails')
                                                                        span.align-middle
                                                                            i.fa.fa-thumbs-down
                                                            .col-sm-6.ios-group
                                                                .btn-group(data-toggle="buttons")
                                                                    label(for=kase._id + '-ios-works') iOS:   
                                                                    label.btn.radio-btn
                                                                        input(type="radio", name="iOS", value='works', id=kase._id + '-ios-works')
                                                                        span.align-middle
                                                                            i.fa.fa-thumbs-up
                                                                    label.btn.radio-btn(type="submit", data-toggle="modal", data-target="#report-modal")
                                                                        input(type="radio", name="iOS", value='fails', id=kase._id + '-ios-fails')
                                                                        span.align-middle
                                                                            i.fa.fa-thumbs-down
                                                            .col-sm-6.chrome-group
                                                                .btn-group(data-toggle="buttons")
                                                                    label(for=kase._id + '-chrome-works') Chrome:   
                                                                    label.btn.radio-btn
                                                                        input(type="radio", name="Chrome", value='works', id=kase._id + '-chrome-works')
                                                                        span.align-middle
                                                                            i.fa.fa-thumbs-up
                                                                    label.btn.radio-btn(type="submit", data-toggle="modal", data-target="#report-modal")
                                                                        input(type="radio", name="Chrome", value='fails', id=kase._id + '-chrome-fails')
                                                                        span.align-middle
                                                                            i.fa.fa-thumbs-down
                                                            .col-sm-6.linux-group
                                                                .btn-group(data-toggle="buttons")
                                                                    label(for=kase._id + '-linux-works') Linux:   
                                                                    label.btn.radio-btn
                                                                        input(type="radio", name="Linux", value='works', id=kase._id + '-linux-works')
                                                                        span.align-middle
                                                                            i.fa.fa-thumbs-up
                                                                    label.btn.radio-btn(type="submit", data-toggle="modal", data-target="#report-modal")
                                                                        input(type="radio", name="Linux", value='fails', id=kase._id + '-linux-fails')
                                                                        span.align-middle
                                                                            i.fa.fa-thumbs-down
                                                        br
                                                        .row.btn-container
                                                            button.btn.btn-comment(type='submit', data-toggle="modal", data-target="#comment-modal") Comment...
                                                    .no-client-checkboxes.btn-container
                                                        if validation.active
                                                            button.btn.btn-upvote(type="submit")
                                                                i.fa.fa-thumbs-up 
                                                                |   Works
                                                            button.btn.btn-comment(type='submit', data-toggle="modal", data-target="#comment-modal") Comment...
                                                            button.btn.btn-downvote(type="submit", data-toggle="modal", data-target="#report-modal")
                                                                i.fa.fa-thumbs-down 
                                                                |   Fails
                                                        else
                                                            button.btn.btn-upvote(type="submit" disabled)
                                                                i.fa.fa-thumbs-up 
                                                                |   Works
                                                            button.btn.btn-comment(type='submit', data-toggle="modal", data-target="#comment-modal" disabled) Comment...
                                                            button.btn.btn-downvote(type="submit", data-toggle="modal", data-target="#report-modal" disabled)
                                                                i.fa.fa-thumbs-down 
                                                                |   Fails
                                                //p.centered.timestamp.subtle #{kase.timestamp.toLocaleDateString()}
                                                p.subtle.deep-link(style="display: none")
                                                    i.fa.fa-link   Link
                                                p.subtle(style="display: none") #{kase._id}

                                                .col-sm-3.hidden-xs.centered
                                                    p.downvotes-header Fails (#{kase.downvotes_v2.length})
                                                    .downvotes
                                                        if kase.downvotes_v2
                                                            each vote in kase.downvotes_v2
                                                                p.vote 
                                                                    span.tenant(class=vote.tenantId + "-tenant", style="display: none") #{vote.tenantName}
                                                                    span.email(class=vote.tenantId + "-email", style="display: none") #{vote.email} 
                                                                        if vote.client
                                                                            | (#{vote.client})
                                                                        if vote.device
                                                                            | (#{vote.device}
                                                                            if vote.teamsMode
                                                                                | - #{vote.teamsMode})
                                                                            else
                                                                                | )

                    
          else
              - var caseCount = 1;
              if cases.length > 0
                 each kase in cases
                    if kase.group == null || kase.group == ""
                        // New style collapsible case
                        .panel.panel-default.case-panel(id="panel-" + kase._id)
                            .panel-heading
                                a.toggle-collapse(data-toggle="collapse" data-target="#collapse-" + kase._id, style="color: black")
                                    p.case-text #{caseCount}. #{kase.name}
                                    - caseCount += 1;
                            .panel-collapse.collapse.in(id="collapse-" + kase._id)
                                .panel-body
                                    .col-sm-3.hidden-xs.centered
                                        p.upvotes-header Works (#{kase.upvotes_v2.length})
                                        .upvotes
                                            if kase.upvotes_v2
                                                each vote in kase.upvotes_v2
                                                    p.vote
                                                        span.tenant(class=vote.tenantId + "-tenant", style="display: none") #{vote.tenantName}
                                                        span.email(class=vote.tenantId + "-email", style="display: none") #{vote.email} 

                                    .col-sm-6
                                        if kase.description
                                            .well
                                                p.case-description !{kase.description}
                                        else
                                            br
                                        .btn-container
                                            .hidden-sm.hidden-md.hidden-lg.hidden-xl.mobile-works-fails(style="text-align: center")
                                                p Works (#{kase.upvotes_v2.length}) | Fails (#{kase.downvotes_v2.length})
                                                br
                                            if validation.active
                                                button.btn.btn-upvote(type="submit")
                                                    i.fa.fa-thumbs-up 
                                                    |   Works
                                                button.btn.btn-comment(type='submit', data-toggle="modal", data-target="#comment-modal") Comment...
                                                button.btn.btn-downvote(type="submit", data-toggle="modal", data-target="#report-modal")
                                                    i.fa.fa-thumbs-down 
                                                    |   Fails
                                            else
                                                button.btn.btn-upvote(type="submit" disabled)
                                                    i.fa.fa-thumbs-up 
                                                    |   Works
                                                button.btn.btn-comment(type='submit', data-toggle="modal", data-target="#comment-modal" disabled) Comment...
                                                button.btn.btn-downvote(type="submit", data-toggle="modal", data-target="#report-modal" disabled)
                                                    i.fa.fa-thumbs-down 
                                                    |   Fails
                                        //p.centered.timestamp.subtle #{kase.timestamp.toLocaleDateString()}
                                        p.subtle.deep-link(style="display: none")
                                            i.fa.fa-link   Link
                                        p.subtle(style="display: none") #{kase._id}

                                    .col-sm-3.hidden-xs.centered
                                        p.downvotes-header Fails (#{kase.downvotes_v2.length})
                                        .downvotes
                                            if kase.downvotes_v2
                                                each vote in kase.downvotes_v2
                                                    p.vote
                                                        span.tenant(class=vote.tenantId + "-tenant", style="display: none") #{vote.tenantName}
                                                        span.email(class=vote.tenantId + "-email", style="display: none") #{vote.email}
              else
                p No scenarios have been added yet. Check back later!

    #report-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#modalLabel.modal-title Please Report a Problem
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true')
                i.fa.fa-times
          .modal-body
            | Your vote has been recorded. Please submit more details through "Report a Problem" on the device you used for the scenario as well.
          .modal-footer
            button.btn.btn-primary(type='button', data-dismiss="modal") OK

    #comment-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='commentLabel', aria-hidden='true')
      #comment-id(style="display: none") Test
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5.modal-title#commentLabel Submit a comment for this scenario
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true')
                i.fa.fa-times
          .modal-body
            | Your comment will be shared with the team.
            input.text#commentField(placeholder="Comment")
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss="modal") Cancel
            button.btn.btn-primary#submitComment(type='button', data-dismiss="modal") Submit

    script(type="text/javascript", src="/controllers/caseController.client.js")