extends ../layout.pug

block morescripts
  script(src='https://unpkg.com/@microsoft/teams-js@1.3.7/dist/MicrosoftTeams.min.js', integrity='sha384-glExfvkpce98dO2oN+diZ/Luv/5qrZJiOvWCeR8ng/ZxlhpvBgHKeVFRURrh+NEC', crossorigin='anonymous')
  script(type="text/javascript", src="/controllers/knownIssues/issueConfigController.client.js")


block content
  .container
    br
    p.centered #[strong Choose a validation to display known issues for in the tab.]
    form
      if validations
        h4 Your Validations
            .container#your-validations
                each validation in validations
                  .container.val(class="owner-" + validation.owner.split("@")[0], style="display: none")
                    input(type='checkbox', name='validation', id=validation.tag, value= validation.name, onclick='microsoftTeams.settings.setValidityState(true);')
                    label(for=validation._id)       #{validation.name}

                    br
        h4 Other Validations
            .container#other-validations
                each validation in validations
                  .container.val(class="owner-" + validation.owner.split("@")[0])
                    input(type='checkbox', name='validation', id=validation.tag, value= validation.name, onclick='microsoftTeams.settings.setValidityState(true);')
                    label(for=validation._id)       #{validation.name}

                    br